#background{
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-background-color: white;
    -fx-border-color: gray;
    -fx-pref-width: 220;
    -fx-pref-height: 50;
    -fx-max-width: 220;
    -fx-max-height: 50;
}
.vbox {
    -fx-alignment: top-left;
}
.label{
    -fx-text-alignment: left;
    -fx-padding: 0 0 0 2;
}